.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-div > p {
  font-size: 8vw;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 1);
  padding: 8px;
  border-radius: 16px;
}

.centered-div > p:hover, p:active {
  cursor: pointer;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 0.5);
}
